@require "fonts"
@require "colors"

html, body
	margin 0
	padding 0
	font 14px "open sans", Helvetica, Arial, sans-serif
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none